<section class="card__wrapper">
  <div class="single__card">
    <div class="card__header">
      <img
        class="card__header__img"
        src='{{ "assets/img/posts/" | relative_url }}{{ cards.img }}'
        alt="{{ cards.title }}"
      />
    </div>
    <div class="card__body">
      <h2 class="card__body__title">{{ cards.title }}</h2>
      <button
        tabindex="0"
        onClick="location.href='{{ site.baseurl }}{{ cards.permalink }}'"
        value="mehr erfahren"
        type="button"
        class="card__button--light"
      >
        Mehr erfahren
      </button>
    </div>
  </div>
</section>
