/**
//==============================================================================
// Footer CSS Styles
//==============================================================================
*/

.footer__triangle {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-top: 1.5rem;
  border-bottom: 5vw solid $primary-color;
  border-left: 100vw solid transparent;
}

.footer__wrapper {
  display: block;
  background-color: $primary-color;
}

.footer__container {
  @extend %grid-content-padding;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  h3 {
    color: $background;
  }

  p {
    color: $background;
    max-width: 65ch;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    color: $background;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__project {
  flex: 2;
}

.footer__links {
  flex: 1;
  margin-left: 2rem;
}
