/**
//==============================================================================
// Layout and CSS-Grid properties
//==============================================================================
*/

.grid__container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "aside"
    "article"
    "footer";
  grid-template-rows: 0.2fr 0.2fr auto 0.15fr;
  padding: 0.75rem 1.25rem;
  margin: 0 auto;

  @include large-breakpoint {
    padding: 1rem 2.5rem;
  }
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

article {
  grid-area: article;
}

footer {
  grid-area: footer;
}

//==============================================================================
// Card grid
//==============================================================================

.grid__card {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}
