/**
//==============================================================================
// CSS global styling
//==============================================================================
*/

html,
body {
  overflow: hidden;
}
body {
  position: relative;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.skip__navigation__link {
  background-color: $alternate-background;
  position: absolute;
  transform: translateY(-120%);
  padding: 0.5rem 1rem;
  z-index: 1000;
  border-radius: 0 0 0.25rem 0.25rem;

  &:focus {
    transform: translateY(0);
  }
}

.arrow__back {
  @extend %content--padding;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;

  a {
    color: $black;
    text-decoration: none;
    margin: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
