/**
//==============================================================================
// Layout and CSS-Grid properties
//==============================================================================
*/

%content--padding {
  padding: 0.75rem 1.25rem;
  margin: 0 auto;

  @include large-breakpoint {
    padding: 1rem 2.5rem;
  }
}

body {
  position: relative;
  min-height: 100vh;
}

header {
  @extend %content--padding;
}

article {
  @extend %content--padding;
}

//==============================================================================
// Card grid
//==============================================================================

.grid__card {
  display: grid;
}

//==============================================================================
// Content styles
//==============================================================================

.content__wrapper--600 {
  max-width: 600px;
  @extend %content--padding;
}

.content__wrapper--900 {
  max-width: 900px;
  @extend %content--padding;
}

.content__wrapper--swiper {
  max-width: 100%;
  box-sizing: content-box;
  margin-bottom: 1rem;
  padding: 0;

  @include medium-breakpoint {
    padding: 1.5rem 0 1.5rem 1.5rem;
  }

  @include large-breakpoint {
    padding: 2rem 0 2rem 2rem;
  }
}
