/**
//==============================================================================
// Layout properties
//==============================================================================
*/

%content--padding {
  padding: 0.75rem 1.25rem;
  margin: 0 auto;
  justify-items: center;

  @include large-breakpoint {
    padding: 1rem 2.5rem;
  }
}

header {
  @extend %content--padding;
}

article {
  min-height: 60vh;
  @extend %content--padding;
}

//==============================================================================
// Content styles
//==============================================================================

.content__wrapper--600 {
  max-width: 600px;
  @extend %content--padding;
}

.content__wrapper--900 {
  max-width: 900px;
  @extend %content--padding;
}

.content__wrapper--swiper {
  max-width: 100%;
  box-sizing: content-box;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  margin-bottom: 1rem;
  padding: 0;

  @include medium-breakpoint {
    padding: 1.5rem 0 1.5rem 1.5rem;
  }

  @include large-breakpoint {
    padding: 2rem 0 2rem 2rem;
  }
}
