/**
//==============================================================================
// CSS search & sort bar styling
//==============================================================================
*/

aside {
  border-top: $borders;
  border-bottom: $borders;
  height: 68px;
  background-color: $alternate-background;
  margin-bottom: 1rem;
}

.filter__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  height: inherit;
  @extend %grid-content-padding;
}

select {
  background: transparent;
  border: 1px solid #535151;
  padding: 4px 0 4px 36px;
  font-size: 20px;
  line-height: 42px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.search__container {
  background: transparent;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    border: 0;
  }
}

.search__bar {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  margin-left: 0.5rem;
  background-color: transparent;
  border-bottom: 1px solid #535151;
  width: 80%;
  color: $primary-color;
  &:focus {
    transition: 0.35s ease;
    color: $black;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

.results__container {
  list-style: none;
  position: relative;
  top: -2px;
  max-width: 600px;
  margin: 0 auto;
  overflow-y: auto;
  background-color: $alternate-background;
  border: 1px solid #535151;
  padding: 4px 0 4px 36px;
  font-size: 20px;
  line-height: 200%;
  z-index: 99999;
}
