/**
//==============================================================================
// CSS search & sort bar styling
//==============================================================================
*/

aside {
  border-top: $borders;
  border-bottom: $borders;
  height: 68px;
  background-color: $alternate-background;
  margin-bottom: 1rem;
}

.filter__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  height: inherit;
  @extend %grid-content-padding;
}

select {
  background: transparent;
  border: 1px solid #535151;
  padding: 4px 0 4px 36px;
  font-size: 20px;
  line-height: 42px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.search__container {
  background: transparent;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    border: 0;
  }
}

.search__bar {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  margin-left: 0.5rem;
  background-color: transparent;
  border-bottom: 1px solid #535151;
  width: 80%;
  color: $primary-color;

  &::-webkit-search-cancel-button {
    position: relative;
    right: 20px;

    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    margin-left: 0.4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
  }
  &:focus {
    transition: 0.35s ease;
    color: $black;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

.results__container {
  display: none;
  list-style: none;
  position: relative;
  top: -2px;
  width: 80%;
  max-height: 60vh;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0;
  background-color: $alternate-background;
  border: 1px solid #535151;
  font-size: 20px;
  line-height: 200%;
  z-index: 99999;

  @include medium-breakpoint {
    width: 100%;
    max-width: 600px;
  }

  @include large-breakpoint {
    width: 100%;
    max-width: 600px;
  }

  p {
    margin: 0;
    padding: 4px 0 4px 36px;
  }

  li {
    margin: 0;
    padding: 4px 0 4px 36px;
    &:hover,
    &:focus {
      background-color: #f4eee3;
      text-decoration: underline;
    }
    a {
      color: $black;
      text-decoration: none;
    }
  }
}
