.swiper {
  /* Fix of Webkit flickering */
  z-index: 1;

  width: 250px;
  height: 400px;

  @include medium-breakpoint {
    width: 400px;
    height: 600px;
  }

  @include large-breakpoint {
    width: 425px;
    height: 650px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition-property: transform;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.11);

  img {
    height: 60vh;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

.swiper-slide-shadow {
  border-radius: 10px;
}
