.swiper {
  height: 100%;
  width: 250px;

  /* Fix of Webkit flickering */
  z-index: 1;

  @include medium-breakpoint {
    width: 400px;
  }

  @include large-breakpoint {
    width: 425px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition-property: transform;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;

  img {
    height: 60vh;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

.swiper-slide-shadow {
  border-radius: 10px;
}
