---
layout: default
---

<!-- Filter aside -->
<aside>{% include back_bar.html %}</aside>

<!-- Article  -->
<article role="article">
  <div class="post__content__box">
    <div class="post__header">
      <img
        class="post__header__img"
        src="./assets/img/posts/{{ page.img }}"
        alt="{{ page.title }}"
      />
    </div>
    <section class="content__wrapper--900">
      <div class="post__body">
        <h1>{{ page.title }}</h1>
        <h2>Beschreibung</h2>
        {{ page.description }}
        <div class="post__body__box">
          <div class="post__body__icon">
            <h2>Kosten</h2>
            <p id="post-cost">{{ page.kosten }}</p>
          </div>
          <div class="post__body__icon">
            <h2>Effektivität</h2>
            <p id="post-effect">{{ page.effektivitaet }}</p>
          </div>
        </div>
        <div>{{ content }}</div>
        <hr class="post__seperator" />
        <div class="post__navigation">
          {% if page.previous.url %}
          <div class="prev">
            <i class="fa-solid fa-caret-left"></i>
            <a href="{{page.previous.url}}">{{page.previous.title}}</a>
          </div>
          {% endif %} {% if page.next.url %}
          <div class="next">
            <a href="{{page.next.url}}">{{page.next.title}}</a>
            <i class="fa-solid fa-caret-right"></i>
          </div>
          {% endif %}
        </div>
      </div>
    </section>
  </div>
</article>
