---
layout: default
---

<!-- Filter aside -->
<aside>{% include filterBack.html %}</aside>

<!-- Article  -->
<article role="article">
  <section class="content__wrapper">
    <div class="cardDetailGrid">
      <div class="cardsDetail__section--title">
        {{ page.title | markdownify }}
      </div>
      <div class="cardsDetail__section--beschreibung">
        {{ page.beschreibung | markdownify }}
      </div>
      <div class="cardsDetail__section--vorteile">
        {{ page.vorteile | markdownify }}
      </div>
      <div class="cardsDetail__section--nachteile">
        {{ page.nachteile | markdownify }}
      </div>
      <div class="cardsDetail__section--kosten">
        {{ page.kosten | markdownify }}
      </div>
      <div class="cardsDetail__section--effektivitaet">
        {{ page.effektivitaet | markdownify }}
      </div>
      <div class="cardsDetail__section--wichtigeEigenschaften">
        {{ page.wichtigeEigenschaften | markdownify }}
      </div>
      <div class="cardsDetail__section--ziele">
        {{ page.ziele | markdownify }}
      </div>
      <div class="cardsDetail__section--kostenpunkte">
        {{ page.kostenpunkte | markdownify }}
      </div>
      <div class="cardsDetail__section--checkliste">
        {{ page.checkliste | markdownify }}
      </div>
      <div class="cardsDetail__section--kpi">{{ page.kpi | markdownify }}</div>
      <div class="cardsDetail__section--tools">
        {{ page.tools | markdownify }}
      </div>
      <div class="cardsDetail__section--bestPractice">
        {{ page.bestPractice | markdownify }}
      </div>
    </div>
  </section>
</article>
